@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

html {
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
