.main {
  width: 100%;
  .about {
    height: 100vh;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .about__description {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h2 {
        color: white;
      }
      p {
        color: white;
      }
    }
    .about__picture {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      .profilpic {
        width: 60%;
        border-radius: 50%;
        transform: scaleX(-1);
      }
    }
  }
  .skills {
    height: 100vh;
  }
  .works {
    height: 100vh;
    background-color: black;
  }
}
